input[type = text], input[type = password]
{
    border: 3px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
input[type = text]::-webkit-input-placeholder, input[type = password]::-webkit-input-placeholder 
{
  color: black;
} 

input[type = submit], input[type = reset]
{
	border: 3px solid green;
    padding: 15px;
    background: rgba(255,255,50,0.5);
    margin: 0 0 10px 0;
}

input:focus
{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
div.credential
{
	padding-top: 30px;
}
