div.main
{
	margin-left: 80px;
	margin-top: 50px;
	margin-right: 80px;
}
body
{
	background: green;
}
div.top
{
	height: 20px;
	width: 100%;
	background-color: yellow;
	border-radius: 30px;
	padding-bottom: 20px;
}
div.content
{
	padding-top: 20px;
	border-radius: 30px;
	height: 500px;
	width: 100%;
	background-color: red;
}
div.title
{
	padding-top: 10px;
	padding-right: 20px;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
}
div.title a
{
	text-decoration: none;
	color: black;
}
div.title#home
{
	float: right;
}
div.title#contactus
{
	float: right;
}
div.title#aboutus
{
	float: right;
}
div.title#signup
{
	float: right;	
}
div.title#login
{
	float: right;
}
div.title#hello
{
	padding-left: 30px;
}
div.pane
{
	height: auto;
	background-color: red;	
}
div.pane#left
{
	float: left;
	height: 100px;
	width: 60%;
	padding-left: 50px;
	padding-top: 20px;
	font-family: Tahoma;
}
div.pane#right
{
	float: left;
	height: 100px;
	width: 30%;
	padding-left: 50px;
	padding-top: 20px;
}
p 
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 10pt;
    color: black;
}
p:first-letter 
{
    font-family: Times new Roman;
    width: 50pt;
    font-size: 36pt;
    float: left;
}
p.introduction:first-letter {
 font-size : 500%;
 font-weight : italic;
 float : left;
 }

 center a
 {
 	color: blue;
 	font-size: 200%;
 	text-decoration: none;
 }